<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel, HtmlRequiredAltAttribute, RequiredAttributes, ThymeleafVariablesResolveInspection -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="RU">
    <head>
        <meta charset="utf-8"/>
        <title>SpringShop</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div th:replace="~{navigation :: navigation(Home)}"></div>
            <br>
            <div style="text-align: center;">
                <h1>[[ ${product.title} ]]</h1>
            </div>
            <hr>
            <div>
                <span th:each="image : ${product.images}">
                    <!--suppress RequiredAttributes -->
                    <img th:src="@{'/products/images/' + ${image.id}}" alt="" />
                </span>
            </div>
            <hr>
            <h2 style="text-align: center"> Отзывы о продукте</h2>
            <div class="container">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>Текст отзыва</th>
                        <th>Фото</th>
                        <th>Пользователь</th>
                    </tr>
                    </thead>
                    <tbody th:if="${reviews.size() > 0}">
                        <tr th:each="review : ${reviews}" th:object="${review}">
                            <span th:if="*{approved}">
                                <td th:text="*{comment}"></td>
                                <td>
                                    <span th:if="*{image != null}">
                                        <img th:src="@{'/products/reviews/images/' + ${review.image.id}}" alt="" width="250px" height="250px" />
                                    </span>
                                </td>
                                <td>
                                    <a th:href="@{'/profile/' + ${review.shopUser.id}}">[[ *{shopUser.firstName} ]]</a>
                                </td>
                            </span>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="container" style="text-align: center" sec:authorize="isAuthenticated()">
                <form action="#" th:action="@{/products/reviews}" method="POST" enctype="multipart/form-data">
                    <div class="form-row row justify-content-center">
                        <div class="form-group col-md-9">
                            <textarea class="form-control" name="comment" rows="5" style="resize: none;" placeholder="Введите ваш отзыв"></textarea>
                        </div>
                    </div>
                    <div class="form-row row justify-content-center">
                        <div class="form-group col-md-3">
                            <input type="file" class="form-control" name="image"/>фото
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" id="captchaCode" name="captchaCode" class="form-control" placeholder="Введите проверочный код" maxlength="6">
                            <input type="hidden" name="productId" th:value="${product.id}">
                        </div>
                        <div class="form-group col-md-3">
                            <img class="captcha-pic" id="captcha" th:src="@{/captcha}" />
                        </div>
                        <div class="form-group col-md-3">
                            <button type="submit" class="btn btn-success">оставить отзыв</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>