<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="EN">
    <head>
        <meta charset="utf-8"/>
        <title>SuperShop</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">

            <div style="text-align: center;">
                <h1>Admin Page</h1>
            </div>
            <ul>
                <li><a class="nav-link" th:href="@{'/admin/add_product'}">Добавить товар</a></li>
                <li>
                    <a class="nav-link" th:href="@{'/admin/reviews'}"
                       th:text="Отзывы + '(' + ${reviewsToApprove.size() + ')'}"></a>
                </li>
            </ul>
            <hr>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Наименование</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Дата добавления</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="product, iterator : ${products}" th:object="${product}">
                        <span th:if="*{available}">
                            <td th:text="${iterator.index + 1}"></td>
                            <td>
                                <a th:href="@{'/products/' + ${product.id}}">[[ ${product.title} ]]</a>
                            </td>
                            <td th:text="*{description}"></td>
                            <td th:text="*{price}"></td>
                            <td th:text="*{#dates.format(added, 'dd-MM-yyyy')}"></td>
                        </span>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>