<!DOCTYPE html>
<!--suppress CheckEmptyScriptTag -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="EN">
    <head>
        <meta charset="utf-8"/>
        <title>SpringShop</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">

            <div style="text-align: center;">
                <h1>Spring Shop</h1>
            </div>

            Категория продуктов:
            <form th:action="@{/}" method="get">
                <select name="category">
                    <option th:text="'Не выбрано'" th:value="null"/>
                    <!--suppress ThymeleafVariablesResolveInspection -->
                    <option th:each="category : ${T(ru.gribnoff.springshop.persistence.entities.enums.ProductCategory).values()}"
                            th:value="${category.ordinal()}"
                            th:text="${category.name}"
                    />
                </select>
                <button type="submit">применить</button>
            </form>
            <hr>

            <a class="nav-link" th:href="@{/cart}" th:text="Корзина + '(' + ${cart.size() + ')'}">CART</a>

            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Наименование</th>
                    <th>Картинка</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Дата добавления</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="product, iterator : ${products}">
                        <span th:if="${product.available}">
                            <td th:text="${iterator.index + 1}"/>
                            <td>
                                <a th:href="@{'/products/' + ${product.id}}">[[ ${product.title} ]]</a>
                            </td>
                            <td>
                                <div>
                                    <img th:src="@{'/products/images/' + ${product.images[0].id}}" alt="" width="50px" height="50px" />
                                    <img th:if="${product.images.size() > 1}" th:src="@{'/products/images/' + ${product.images[1].id}}" alt="" width="50px" height="50px" />
                                </div>
                            </td>
                            <td th:text="${product.description}"/>
                            <td th:text="${product.price}"/>
                            <td th:text="${#dates.format(product.added, 'dd-MM-yyyy')}"/>
                            <td>
                                <a th:href="@{'/cart/add/' + ${product.id}}">
                                    <img th:src="@{'/products/images/cart.png'}" alt="" width="30px" height="30px" />
                                </a>
                            </td>
                        </span>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>